body{
font-family: none;
padding:40px;
background-color: #ffffff;
box-sizing: border-box;
width: 103px;
height: 103px;
border: 1px solid #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);
flex: none;
order: 3;
flex-grow: 0;
}

h1{
text-align: center;
width: 1200px;
height: 54px;
font-family: 'Crimson Text';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 90%;
letter-spacing: -0.03em;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

h2{
text-align: center;
font-style: italic;
}

.menu{
display:flex;
justify-content:center;
gap:10px;
}

button{
padding:20px 40px;
font-size:16px;
cursor:pointer;
background-color: rgba(128, 128, 128, 0.466);
border-inline-end-color: black;
font-style: italic;
color: aliceblue;
}



