body{
font-family: none;
padding:40px;
background-color: #ffffff;
} 

P {
    /* ESJ */

width: 50px;
height: 36px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
display: flex;
align-items: center;
letter-spacing: -0.05em;

/* Accent/Accent 4 */
color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* ESJ */

width: 50px;
height: 36px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
display: flex;
align-items: center;
letter-spacing: -0.05em;

/* Accent/Accent 4 */
color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

button1

h1{
text-align: center;
font-family: 'Crimson Text';
font-style: normal;
color: #000000;

}

h2{
text-align: center;
}

.menu{
display:flex;
justify-content:center;
gap:10px;
}

button{
/* Nav Items */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 24px;
gap: 27px;

position: absolute;
width: 576px;
height: 60px;
left: calc(50% - 576px/2);
top: 16px;

background: rgba(255, 255, 255, 0.4);
backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Nav Items */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 24px;
gap: 27px;

position: absolute;
width: 591px;
height: 60px;
left: calc(50% - 591px/2 - 40px);
top: 17px;

background: rgba(255, 255, 255, 0.4);
backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Nav Items */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px 24px;
gap: 27px;

position: absolute;
width: 623px;
height: 60px;
left: calc(50% - 623px/2 + 452.5px);
top: 16px;

background: rgba(255, 255, 255, 0.4);
backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;

}



